
/* @media (min-width: 550px) */
.header {
  margin-top: 18rem;
}

.container {
  max-width: 800px;
}

.functions {
  border-top: 1px solid #eee;
  padding-top: 10rem;
}

@media screen and (max-width: 600px) {
    button {
      width: 100%;
      box-sizing: border-box;
    }

    .functions {
      padding-top: 2rem;
    }

    .header {
      margin-top: 3rem;
    }

    .backslash {
      margin-top: 2rem;
    }
}

@media screen and (max-width: 903px) {
    .c-format {
      display: none;
    }
}